<div style="margin-top: 20px;height: 15px;">
  <!--<button mat-raised-button color="primary" (click)="newSaleProperty()" style="float:left;margin-top: 5px;">New
    Property Sale
  </button>-->
  <span style="margin-left:50px;color:#1730ff;font-size: 20px;font-weight: bold"> Sale Properties View</span>
  <span style=" float:right; height: 45px;">
    <mat-form-field>
      <mat-label>Search</mat-label>
      <input matInput (keyup)="applyFilter($event.target.value)" [readonly]="dataSource.data.length == 0"
             placeholder="Search" #input/>
    </mat-form-field>
  </span>

</div>

<div class="example-container mat-elevation-z8">

  <div class="example-table-container">

    <table mat-table [dataSource]="dataSource" matSort flex [matSortActive]="sortProperty">

      <ng-container matColumnDef="propertyId" sticky>
        <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header><span
          style="margin-left: 24px;">PropertyId</span></th>
        <td mat-cell *matCellDef="let element"
            [innerHTML]="element.propertyId | highlightSearch: filterText"></td>
      </ng-container>

      <ng-container matColumnDef="propertyName">
        <th scope="col" mat-header-cell *matHeaderCellDef> Property Name</th>
        <td mat-cell *matCellDef="let element"
            [innerHTML]="element.propertyName | highlightSearch: filterText"></td>
      </ng-container>
      <ng-container matColumnDef="ownerName">
        <th scope="col" mat-header-cell *matHeaderCellDef> Owner Name</th>
        <td mat-cell *matCellDef="let element"
            [innerHTML]="element.ownerName | highlightSearch: filterText"></td>
      </ng-container>

      <ng-container matColumnDef="units">
        <th scope="col" mat-header-cell *matHeaderCellDef> Units</th>
        <td mat-cell *matCellDef="let element"> {{element.units}}</td>
      </ng-container>

      <ng-container matColumnDef="category">
        <th scope="col" mat-header-cell *matHeaderCellDef> Category</th>
        <td mat-cell *matCellDef="let element"> {{element.category}}</td>
      </ng-container>
      <ng-container matColumnDef="propertyType">
        <th scope="col" mat-header-cell *matHeaderCellDef> Property Type</th>
        <td mat-cell *matCellDef="let element"> {{element.propertyType}}</td>
      </ng-container>

      <ng-container matColumnDef="saleUnits">
        <th scope="col" mat-header-cell *matHeaderCellDef> Sale Units</th>
          <td mat-cell *matCellDef="let element" [innerHTML]="element.saleUnits | highlightSearch: filterText"></td>
        >
      </ng-container>
      <ng-container matColumnDef="funded">
        <th scope="col" mat-header-cell *matHeaderCellDef> Funded</th>
        <td mat-cell *matCellDef="let element"> {{element.funded}}</td>
      </ng-container>
      <ng-container matColumnDef="qtyPrice">
        <th scope="col" mat-header-cell *matHeaderCellDef> Price Quantity</th>
        <td mat-cell *matCellDef="let element" [innerHTML]="element.qtyPrice | highlightSearch: filterText"></td>
        >
      </ng-container>

      <ng-container matColumnDef="Actions" stickyEnd>
        <th scope="col" mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button title="Edit" style="background-color: lightseagreen">
            <mat-icon color="primary" (click)="edit(element)">edit</mat-icon>
          </button>
          <button mat-icon-button title="Delete" style="background-color: wheat">
            <mat-icon color="warn" (click)="delete(element)">delete</mat-icon>
          </button>
          <button mat-icon-button color="primary" title="New Sale Bid"  *ngIf="loginId != element.createdBy"
                  style="background-color: lightskyblue" (click)="createSaleBidProperty(element)">
            <mat-icon>add</mat-icon>
          </button>
          <button mat-icon-button color="success" title="Show Bids" (click)="showBids(element.id)"
                  *ngIf="loginId == element.createdBy" style="background-color: lightgreen"><mat-icon>info</mat-icon>
          </button>
        </td>
      </ng-container>

      <ng-container *ngIf="dataSource.data.length != 0 && input.value != '' ">
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="26">No data matching the filter "{{input.value}}"</td>
        </tr>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>

    <h5 *ngIf="dataSource.data.length == 0" style="margin: 20px">No Sale Properties</h5>

  </div>
  <mat-paginator [pageSizeOptions]="[20, 30, 50, 100]"></mat-paginator>
</div>
