.example-container {
  margin-top: 0px;
  height: 96%;
  width: 100%;
  max-width: 100%;
  overflow: auto;
}
table{
  background-color: #f9fbfe;
  font-family: "Ubuntu", "LatoRegular", "Lucida Grande", "Lucida Sans Unicode", ;
}
.example-table-container {
  margin-top: 0px;
  height: 92%;
  width: 100%;
  max-width: 100%;
  overflow: auto;
}

th.mat-column-position, td.mat-column-position {
  padding-left: 8px;
}

.mat-table-sticky-border-elem-right {
  border-left: 1px solid #c7c2c2;
}

.mat-table-sticky-border-elem-left {
  border-right: 1px solid #d4cdcd;
}

.mat-column-actions {
  text-align: right;
}


.mat-header-cell{
  /* background-color: #f9fbfe; */
  font-size: 15px;
  /* color: black; */
}
.mat-row:hover{
    /* background-color: rgb(73, 36, 235); */
}

th.mat-header-cell,
td.mat-cell {
  text-align: center;
  border-bottom: 1px solid #ccc;
  padding: 0 !important;
  min-width: 140px;
  max-width: 100px;
}

.mat-form-field {
  font-size: 15px;
  width: 82%;
  /* float: right; */
}

/*
.mat-column-fatherMotherExpired{
    background-color: hotpink;
    padding-right: 5px;
   margin-right: 5px;
   width: 200px !important;
} */

  /* word wrap in table  */
td , th {
  white-space: normal;
  word-wrap: break-word;
  max-width: 400px;
}
/* .mat-cell {
  vertical-align:top;
} */




.dialog-container-custom .mat-dialog-container {
	padding: 0;
	background: rgb(243, 27, 27);
}

::ng-deep .text-highlight {
  background-color:rgb(245, 245, 4);

}
.fa-file-excel{
  color:green;
  font-size:25px;
  margin-right: 15px;
  cursor: pointer !important;
}

img{
  height: 38px;
  width: 38px;
  border-radius: 10%;
  cursor: pointer;
}
