<h2 mat-dialog-title style="text-align: center;">New Property Sale</h2>

<form [formGroup]="propertySale" autocomplete="off">

  <mat-dialog-content class="mat-typography">

    <mat-tab-group>
      <mat-tab label="Basic Details">

        <mat-grid-list cols="10" rowHeight="100px">
          <mat-grid-tile [colspan]="10" [rowspan]="1">
            <div class="col-md-10">
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Property Name</mat-label>
                <input matInput type="text" formControlName="propertyName" id="propertyName">
              </mat-form-field>
            </div>
          </mat-grid-tile>
        </mat-grid-list>

        <mat-grid-list cols="10" rowHeight="100px">
          <mat-grid-tile [colspan]="10" [rowspan]="1">
            <div class="col-md-10">
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>SaleUnits</mat-label>
                <input matInput type="text" formControlName="saleUnits" id="saleUnits" required>
              </mat-form-field>
            </div>
          </mat-grid-tile>
        </mat-grid-list>
        <mat-grid-list cols="10" rowHeight="100px">
          <mat-grid-tile [colspan]="10" [rowspan]="1">
            <div class="col-md-10">
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Price Quantity</mat-label>
                <input matInput type="number" formControlName="qtyPrice" id="qtyPrice" required>
              </mat-form-field>
            </div>
          </mat-grid-tile>
        </mat-grid-list>
        <!--<mat-grid-list cols="10" rowHeight="100px">
          <mat-grid-tile [colspan]="10" [rowspan]="1">
            <div class="col-md-10">
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Funded</mat-label>
                <input matInput type="number" formControlName="funded" id="funded">
              </mat-form-field>
            </div>
          </mat-grid-tile>
        </mat-grid-list>-->
      </mat-tab>
    </mat-tab-group>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button type="button" mat-raised-button color="warn" mat-dialog-close>Cancel</button>
    <button mat-raised-button (click)="create(propertySale.value)" color="primary"
            [disabled]="!propertySale.valid">Create
    </button>
  </mat-dialog-actions>
</form>
